h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}


a:active,
a:hover {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
	width: 100%;
	min-width: 300px;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	background: #569AFF;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;

}

a:link,
a:visited {
	text-decoration: none;
	color: #fff;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

p {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.6;
}

.responsive {
	width: 100%;
}

@media only screen and (min-width: 767px) {
	.responsive {
		width: 50%;
	}
}

.sep {
	display: block;
	clear: both;
	width: 100%;
	height: 2px;
	margin: 15px 0;
	background: rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 767px) {
	.sep {
		margin-top: 0;
	}
}



.container {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@media only screen and (min-width: 767px) {
	.container {
		padding: 35px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}

.intro-container {
	position: relative;
	z-index: 10;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 70px;
	text-align: center;
}

@media only screen and (min-width: 767px) {
	.intro-container {
		float: left;
		width: 42%;
		margin-bottom: 0;
		text-align: left;
	}
}


.app-icon {
	width: 90px;
	margin: 0;
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
	-webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
}

.app-icon p {
	font-size: 35px;
	font-weight: 200;
	white-space: nowrap;
}

@media only screen and (min-width: 767px) {
	.app-icon {
		margin: 0;
	}

	.app-icon p {
		margin-left: 2px;
	}
}

.app-icon_fake {
	visibility: hidden;
	width: 90px;
	margin: 0;
	
}

.app-icon_fake p {
	font-size: 35px;
	font-weight: 200;
	white-space: nowrap;
	color: white;
}

@media only screen and (min-width: 767px) {
	.app-icon_fake {
		margin: 0;
	}

	.app-icon_fake p {
		margin-left: 2px;
	}
}

.intro {
	max-width: 300px;
	margin-top: 8%;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}



.intro h2 {
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.2;
}

@media only screen and (min-width: 580px) {
	.intro h2 {
		font-size: 30px;
	}
}

.iphone {
	position: absolute;
	max-width: 20%;
/*	height: 300px;
*/
bottom: 5%;
left: 40%;
margin: 0 auto;
z-index: 20;

}


@media only screen and (min-width: 767px) {
	.intro {
		max-width: 100%;
		margin-top: 17%;
		margin-bottom: 40px;
	}
	.iphone {
		position: absolute;
		bottom: 5%;

		max-width: 20%;
		text-align: right;

		left: 40%;
		z-index: 20;

	}
}
@media only screen and (max-width: 480px) {
	.iphone {
		position: absolute;
		bottom: 8%;
		height: 300px;
		max-width: 20%;
		text-align: right;

		left: 40%;
		z-index: 20;

	}

	.iphone-mask, .iphone-mask img {
		max-width: 100%;
		position: relative;
		top: -10%;
	}

	.app_store {
		display: block;
		width: 150% !important;
		
	}
}

.iphone-screenshot {
	position: relative;
	z-index: 100;
	overflow: hidden;
	width: 86.5%;
	height: 0;
	margin: 0 auto;
	padding-bottom: 182%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

@media only screen and (min-width: 767px) {
	.iphone-screenshot {
		z-index: 1;
		width: 87%;
	}
}

.iphone-screenshot img {
	position: absolute;
	top: 0%;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.iphone-mask {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	bottom: 0;
	right: 0;

}

.app_store {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.footer {
	z-index: 22;
	margin-bottom: 10px;
	bottom: 2px;
	
}

.footer p {
	opacity: 0.75;
}

.credit-left {
	position: absolute;
	bottom: 4%;
	left: 4%;
	width: 100%;
	color: white;

	}.credit-right {
		position: absolute;
		bottom: 4%;
		right: 4%;
		width: 100%;
		color: #569AFF;

	}



	@media only screen and (min-width: 767px) {
		.contact {
			text-align: right;
			z-index: 22;

		}

		.contact a {
			padding-right: 0;
			padding-left: 12px;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
	}

	.fadeIn {
		animation: fadein 3s;
	-moz-animation: fadein 3s; /* Firefox 
	-webkit-animation: fadein 3s; /* Safari and Chrome 
	-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-moz-keyframes fadein { /* Firefox */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
@-o-keyframes fadein { /* Opera */
	from {
		opacity:0;
	}
	to {
		opacity: 1;
	}
}
/* Pattern styles */
.background_container {
	display: table;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0 auto;
/*	padding: 15px;
*/
}

.left-half {
	background-color: #569AFF;
	position: absolute;
	left: 0px;
	width: 50%;
	height: 100%;
	color: white;

	margin: 0 auto;
	padding: 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

	vertical-align: middle;
}

.right-half {
	background-color: #ffffff;
	position: absolute;
	right: 0px;
	height: 100%;
	width: 50%;
	color: #569AFF;

	text-align: right;
	padding: 15px;
	margin: 0 auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}



@media only screen and (min-width: 767px) {
	.left-half {
		padding: 35px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	.right-half {
		padding: 35px;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
}

.fa-facebook-square, .fa-instagram, .fa-envelope {
	color: #569AFF;
	margin-left: 2px;
	margin-right: 2px;
}
.fa-facebook-square:hover, .fa-instagram:hover, .fa-envelope:hover {
	opacity: .8;
}

.legal {
	display: inline;
	font-size: 95%;
	color: #569AFF;
	opacity: 1;
	font-size: 1em;
	margin-left: 4px;
}
.legal:hover {
	opacity: .4;

}



